/* create a container class for the image and the component */
.container {

  position: relative;
    width: 320px;
    height: 320px;
    margin-top: 1.25rem;
    box-sizing: border-box;
    margin: 10px;
  }


  
  /* create a class for the image */
.imageContainer {
    height: 100%;
    overflow: hidden;

}

 .imageContainer img {
    align-items: center;
    object-fit: cover;
    height: 100%;
    width: 100%;
    

}

.services {
  height: 100%;
  flex-wrap: nowrap;
  display: grid;
  grid-auto-flow: column;
 
  overflow-x: scroll; /* Change overflow property to overflow-x */
  overflow-y: hidden; /* Hide vertical scrollbar */
  white-space: nowrap;
  padding: 10px;
}
  
  
  /* create a class for the text overlay */
  .textoverlay {
    position: absolute;
    color: white;
    left:0;
    top: 13rem;
    padding: 1.1rem;
    white-space: wrap ;
    
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
   
  

  }
  
  /* create a class for the heading */
  .textoverlay h1 {
    font-size: 1.5rem;
    color: white;
    margin: 0.625rem 0;
   
  }
  
  /* create a class for the paragraph */
  .textoverlay p {
    font-size: 0.75rem;
   
  }


  