/* create a container class for the image and the component */
.container {
    position: relative;
    width: 20rem;
    height: 300px;
  
  }
  
  /* create a class for the image */
.imageContainer {
    height: 100%;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 20px;
}

 .imageContainer img {
    align-items: center;
    object-fit: cover;
    height: 100%;
    width: 100%;
    

}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: left;
    margin-top: 20px;
  }
  
  
  /* create a class for the text overlay */
  .textoverlay {
    position: absolute;
    color: white;
    left:0;
    top: 170px;
    padding: 24px;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
   
  

  }
  
  /* create a class for the heading */
  .textoverlay h1 {
    font-size: 24px;
    color: white;
    margin: 10px 0;
   
  }
  
  /* create a class for the paragraph */
  .textoverlay p {
    font-size: 12px;
   
  }


  