/* CSS code for the image */

.container {
 
  margin: 0 auto;
  padding: 20px;
  background-color: white;
}

.desc {
    width: 220px;
    color: 'black'; 
    font-size: 16px;
    word-wrap: 'break-word';
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: left;
  margin-top: 20px;
}

.service {
  text-align: left;
 
}

.service img {
  width: 64px;
  height: 64px;
  margin: 30px 0px;
}



.service h3 {
  font-weight: bold;
  width: 230px;
  margin: 8px 0px;

}
