.item1 { grid-area: header;
    width: 60%; }
.item1 h1{
  color: white
}
.item2 { grid-area: address; 
width:75%; }
.item3 { grid-area: terms; }
.item4 { grid-area: social1; }
.item5 { grid-area: social2; }
.item6 { grid-area: social3; }
.item7 { grid-area: copyright; }

.gridContainer {
  display: grid;
  height: 50vh;
  grid-template-areas:
    'header header header header address'
    'header header header header address'
    'terms social1 social2 social3 copyright';
  padding: 10px;
}

.grid-container > div {
    color: white;
  text-align: left;
  padding: 20px 0;
  font-size: 30px;
  width: 500px;
}

.footer {
    color: white;
    padding: 20px;
    background-color: #430964;
    height: 25%;
}